html {
  box-sizing: border-box;
}

body {
  background-color: #1e1e1e;
  min-height: 100vh;
  font-family: monospace;
  color: white;
  padding-top: 2rem;
  padding-bottom: 2rem;
  padding-left: clamp(1rem, 5%, 5rem);
  padding-right: clamp(1rem, 5%, 5rem);
  font-size: 16px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  line-height: 24px;
}

a {
  color: white;
}

a:hover {
  color: #d9d9d9;
}

.highlight {
  background-color: #5a5a5a;
  padding: 3px 5px;
  border-radius: 3px;
}

.projects {
  padding-top: 120px;
}

.file-system-wrapper {
  position: relative;
  width: 776px;
  margin-left: auto;
  margin-right: auto;
}

.drawer {
  width: 776px;
  height: 501px;
}

.label {
  position: absolute;
  left: 348px;
  top: 361px;
  color: white;
}

.wrapper {
  top: -34.5%;
  position: absolute;
  width: 90%;
  height: 88%;
  z-index: 1;
  left: 5%;
  overflow-y: hidden;
}

.file-wrapper {
  position: relative;
  height: 100%;
}

.file {
  position: absolute;
}

.file > img {
  width: 100%;
}

.file > .project-information {
  width: 90%;
  font-size: 12px;
  position: absolute;
  top: 15%;
  left: 5%;
}

.project-button-container {
  display: flex;
  justify-content: center;
  gap: 10px;
  padding-top: 20px;
}

.project-button-container > p,
.project-button-container > a {
  padding: 5px 10px;
  background-color: white;
  color: #1e1e1e;
}

.project-button-container > a {
  text-decoration: none;
}

.project-button-container > a:hover {
  text-decoration: underline;
}

.file:nth-child(1) {
  top: 180px;
  left: 5%;
  z-index: 1;
}

.file:nth-child(1) > img {
  width: 628px;
  height: 326px;
}

.file:nth-child(2) {
  top: 220px;
  width: 92%;
  left: 4%;
  z-index: 2;
}

.file:nth-child(2) > img {
  width: 643px;
  height: 335px;
}

.file:nth-child(3) {
  top: 260px;
  width: 94%;
  left: 3%;
  z-index: 3;
}

.file:nth-child(3) > img {
  width: 656px;
  height: 341px;
}

.file:nth-child(4) {
  top: 300px;
  width: 96%;
  left: 2%;
  z-index: 4;
}

.file:nth-child(4) > img {
  width: 670px;
  height: 348px;
}

.file:nth-child(5) {
  top: 340px;
  width: 98%;
  left: 1%;
  z-index: 5;
}

.file:nth-child(5) > img {
  width: 684px;
  height: 357px;
}

.file:nth-child(6) {
  top: 380px;
  width: 100%;
  z-index: 6;
}

.file:nth-child(6) > img {
  width: 698px;
  height: 363px;
}

.project:hover {
  cursor: pointer;
}

.project:hover > .index {
  text-decoration: underline;
}

.project {
  transition: 0.4s ease;
}

.project.active {
  transform: translateY(-220px);
}

.index {
  position: absolute;
  font-size: 14px;
  color: #1e1e1e;
  top: -3%;
  z-index: 10;
  padding: 0px 5px;
}

.one > .index {
  left: 105px;
}
.two > .index {
  left: 316px;
}
.three > .index {
  right: 120px;
  top: -2.5%;
}

.active:hover {
  cursor: default;
}

footer {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
