*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

#root,
#__next {
  isolation: isolate;
}

@font-face {
  font-family: "SF Pro";
  src: url(/SF-Pro-Display-Regular.otf);
}

@font-face {
  font-family: "Holla Mediaeval";
  src: url(/HollaMediaeval.woff2) format("woff2");
  font-display: swap;
}

body {
  height: 100dvh;
  font-family: "SF Pro", Arial, Helvetica, sans-serif;
  --grey: #4a4a4a;
  --grey-accent: #f2f2f2;
  --grey-background: #e6e6e1;
  --grey-header: #d9d9d7;
  --grey-medium: #b0b0b0;
  background-color: var(--grey-background);
  color: var(--grey);
}

#root {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.background {
  position: absolute;
  z-index: -1000;
}

header {
  margin: 20px 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  font-family: "Holla Mediaeval", Times, serif;
  font-size: 38px;
}

.name {
  font-size: 38px;
}

main {
  height: 100%;
  width: 100%;
  flex-grow: 1;
  position: relative;
}

.content-window {
  margin: 20px 50px;
  position: absolute;
  height: 90%;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  background-color: var(--grey-background);
  -webkit-box-shadow: 0px 0px 7px 1px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 0px 7px 1px rgba(78, 49, 49, 0.2);
  box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.2);
}

.content-window-header {
  position: relative;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background: linear-gradient(
    to bottom,
    rgba(224, 224, 224, 1) 0%,
    rgba(204, 204, 204, 1) 100%
  );
  border: 1px solid var(--grey-header);
  border-bottom: 1px solid var(--grey-medium);
  border-radius: 10px 10px 0px 0px;
}

.close-button {
  width: 18px;
  height: 18px;
  background-color: red;
  border: 1px solid var(--grey-accent);
  border-radius: 50%;
  margin: 4px 0px 4px 10px;
  box-shadow: inset 0px 0px 4px 0px rgba(0, 0, 0, 0.7),
    0px 0px 10px 0px rgba(255, 255, 255, 1);
}

.window-title {
  position: absolute;
  left: 50%;
  text-shadow: 1px 0px 2px white;
}

.projects {
  display: flex;
  flex-direction: column;
}

.project-container {
  cursor: pointer;
  display: flex;
  padding: 20px;
  margin: 20px;
  gap: 20px;
  border-radius: 15px;
  /* border: 1px solid white; */
  -webkit-box-shadow: 0px 0px 7px 1px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 0px 7px 1px rgba(78, 49, 49, 0.2);
  box-shadow: 0px 0px 7px 1px rgba(0, 0, 0, 0.1);
}

.project-preview {
  width: 250px;
  border-radius: 10px;
  border: 1px solid white;
  -webkit-box-shadow: 0px 0px 7px 1px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 0px 7px 1px rgba(78, 49, 49, 0.2);
  box-shadow: 0px 0px 7px 1px rgba(0, 0, 0, 0.2);
}

.project-information {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.project-footer {
  display: flex;
  justify-content: space-between;
}

.read-more {
  display: flex;
  justify-content: center;
  align-items: center;
}

.read-more > p {
  font-size: 13px;
}

.read-more > img {
  width: 24px;
}

.stack-icons-container {
  display: flex;
  gap: 10px;
}

.stack-border {
  position: relative;
  border-radius: 50%;
  border: 1px dashed var(--grey-medium);
  padding: 10px;
}

.stack-icon {
  width: 28px;
}

.stack-icon:hover {
  animation: grow 0.3s ease-in-out forwards;
}

@keyframes grow {
  0% {
    transform: scale(100%);
  }
  100% {
    transform: scale(125%);
  }
}

.folder-container {
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
  position: absolute;
  padding: 8px 8px 4px 8px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.folder-container:hover {
  background-color: var(--grey-accent);
  cursor: pointer;
}

.folder-container > p {
  text-shadow: var(--grey-accent) 0px 1px 1px;
}

.folder-image {
  width: 30px;
}

.contacts {
  display: flex;
  gap: 10px;
}

.contact-button {
  border: none;
  background-color: var(--grey);
  color: var(--grey-background);
  display: flex;
  gap: 5px;
  border-radius: 5px;
  padding: 5px 10px;
  box-shadow: inset 0px 0px 2px 1px rgba(0, 0, 0, 1),
    inset 0px 0px 5px 1px rgba(255, 255, 255, 0.35);
}
